.botones{
    margin: 10px;
}

.boton{
    border: map-get($boton , border );
    padding: map-get($boton , padding );
    border-radius: map-get($boton , border-radius );
    color: map-get($boton , color );
    &:hover{
        background-color: $colorSecundario;
    }
}

.boton-lista{
    @extend .boton;
    @include propiedadesPrincipales(white,black ,auto ,auto);
        
    &:hover{
        background-color: $colorSecundario;
    }
}